<div>
    <h1>Ajouter une Prestation</h1>
    <form (ngSubmit)="savePrestation()">
        <table>
            <tr>
                <td>Nom de la prestaiton</td>
                <td><input type="text" [(ngModel)]="user.nom" name="nom"/></td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Nom de la prestation</td>
           
        </tr>
        <tr *ngFor="let u of users">
            <td>{{u.nom}}</td>
            <td><button (click)="deletePrestation(u.idPrestation)">Delete</button></td>
             
        </tr>
    </table>
</div>
