<div>
    <h1>Ajouter un Avis</h1>
    <form (ngSubmit)="saveAvis()">
        <table>
            
            <tr>
                <td>Titre</td>
                <td><input type="text" [(ngModel)]="user.titre" name="titre"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" [(ngModel)]="user.description" name="description"/></td>
            </tr>
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Utilisateur</td>
            <td>Titre</td>
            <td>description</td>
            <td>Action</td>

        </tr>
        <tr *ngFor="let u of users">
            <td *ngFor="let us of utilisateurs">{{us.nom}}</td>
            <td>{{u.titre}}</td>
            <td>{{u.description}}</td>
            <td><button (click)="deleteAvis(u.idAvis)">Delete</button></td>
             
        </tr>
    </table>
</div>