<div>
    <h1>Ajouter une reservation</h1>
    <form (ngSubmit)="saveReservation()">
        <table>
            <tr>
                <td>Date</td>
                <td><input type="date" [(ngModel)]="user.date" name="date"/></td>
            </tr>
            <tr>
                <td>Salon</td>
                <td><input type="text" [(ngModel)]="user.salon" name="Salon"/></td>
            </tr>
            <tr>
                <td>Prestation</td>
                <td><input type="text" [(ngModel)]="user.prestation" name="username"/></td>
            </tr>
    
            <tr>
                <td colspan="2"><button>Ajouter</button></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table>
        <tr>
            <td>Date</td>
            <td>Salon</td>
            <td>Prestation</td>       
        </tr>
        <tr *ngFor="let u of users">
            <td>{{u.date}}</td>
            <td>{{u.Salon}}</td>
            <td>{{u.Prestation}}</td>
            <td><button (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button></td>
             
        </tr>
    </table>
</div>
